email_template.html
adaptivecard.json
slackreport.json
.nextflow*
work/
data/
results/
.DS_Store
testing/
testing*
*.pyc
bin/
nextflow_schema.json
.nf-core.yml
README.md
.github/ISSUE_TEMPLATE/bug_report.yml
